<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Create New Account</h2>

          <form   [formGroup]="signUpForm" (ngSubmit)="onSubmit()">


            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
                placeholder="Enter your full name"
                formControlName="userName"
              >
              @let userNameControl = signUpForm.get('userName');
              @if ( userNameControl?.errors && userNameControl?.touched) {
                <div class="alert alert-danger" role="alert">
                  <ul>
                    @if (userNameControl?.getError('required') && userNameControl?.touched) {
                      <li> userName is required</li>

                    }@else if (userNameControl?.getError('minlength')&& userNameControl?.touched) {
                    <li> userName must be at least 3 characters </li>
                    }
                  </ul>
                  </div>
              }

            </div>


            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                formControlName="email"

              >
              @let emailInput = signUpForm.get('email');
              @if ( emailInput?.errors && emailInput?.touched) {
                <div class="alert alert-danger" role="alert">
                  <ul>
                    @if (emailInput?.getError('required') && emailInput?.touched) {
                      <li> email is required</li>

                    }
                  </ul>
                  </div>
              }
            </div>


            <div class="mb-3">
              <label for="password" class="form-label">password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                pattern="^(?=.*[a-z])(?=.*[\W_]).{6,}$"
                placeholder="Enter your password"
                formControlName="password"

              >
              @let passwordInput = signUpForm.get('password');
              @if ( passwordInput?.errors && passwordInput?.touched) {
                <div class="alert alert-danger" role="alert">
                  <ul>
                    @if (passwordInput?.getError('required') && passwordInput?.touched) {
                      <li> password is required</li>

                    }@else if (passwordInput?.getError('pattern') && passwordInput?.touched) {
                      <li> password must be like Ahmed&#64;123</li>
                    }
                  </ul>
                  </div>
              }
            </div>


            <div class="mb-3">
              <label for="jobTitle" class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="jobTitle"
                name="jobTitle"
                required
                placeholder="Enter your job title"
                formControlName="phoneNumber"
              >
              @let phoneInput = signUpForm.get('phoneNumber');
              @if ( phoneInput?.errors && phoneInput?.touched) {
                <div class="alert alert-danger" role="alert">
                  <ul>
                    @if (phoneInput?.getError('required') && phoneInput?.touched) {
                      <li> phone is required</li>

                    }@else if (phoneInput?.getError('pattern') && phoneInput?.touched) {
                      <li>  phone is not valid number  </li>
                    }
                  </ul>
                  </div>
              }
            </div>

            <!-- Submit Button -->
            <div class="d-grid">
              <button type="submit" [disabled]="isCalingApi"  class="btn btn-primary" >
                @if (isCalingApi) {
                  <i class="fa fa-spin fa-spinner"></i>

                }@else {
                  Create Account

                }
             </button>
            @if (loginIsSuccess) {
              <p class="text-center text-white bg-success py-2"> login Success </p>
            }
            </div>

          </form>

          <!-- Sign In Link -->
          <div class="text-center mt-3">
            <p>Already have an account? <a routerLink="/signin">Sign In</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
